################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GiftAidCalculator/.vs/GiftAidCalculator/v15/Server/sqlite3
/.vs/GiftAidCalculator/v15/Server/sqlite3
/.vs/GiftAidCalculator/v15
